@use 'sass:math';

// ///////////////////////////////////////////////////////////////////// General
$videoBlockSpacing: 5.125rem;

.video-list-block {
  h1, 
  h2,
  .heading {
    @include typography_h2;
    margin-bottom: toRem(55);
  }
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  &.columns-1 {
    .video-block {
      width: 100%;
    }
  }
  &.columns-2 {
    .video-block {
      width: calc(50% - #{math.div($videoBlockSpacing, 2)});
      &:not(:nth-child(2n)) {
        margin-right: $videoBlockSpacing;
      }
    }
  }
  &.columns-3 {
    .video-block {
      width: calc(33% - #{math.div($videoBlockSpacing, 3)});
      &:not(:nth-child(3n)) {
        margin-right: $videoBlockSpacing;
      }
    }
  }
}

.video-block {
  margin-bottom: 3rem;
}

.video-preview-container {
  position: relative;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  &:hover {
    .video-play-icon {
      transition: 250ms ease-in;
      transform: scale(1.1);
      .icon__play__triangle-inner {
        opacity: 1;
      }
    }
  }
  span {
    aspect-ratio: 16 / 9;
  }
}

// ///////////////////////////////////////////////////////////////////// Overlay
.video-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 15;
  transition: 250ms ease-out;
  &.video-overlay-tint {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video-play-icon {
  width: 3rem;
  transition: 250ms ease-out;
  .icon__play__triangle-inner {
    transition: inherit;
    fill: white;
    opacity: 0;
  }
  .icon__play__triangle-outer {
    fill: transparent;
  }
}

// /////////////////////////////////////////////////////////////// Preview Image
.video-preview-image {
  position: relative;
  border-radius: inherit;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 5;
  div,
  span,
  img {
    position: relative !important;
  }
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.video-subtext {
  @include typography_p2;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
