.button {
  cursor: pointer;
  width: fit-content;

  &[disabled] {
    cursor: default;
  }

  button {
    border: none;
    width: 100%;
    display: flex;

    &:active, &:hover, &:focus {
      // background: transparent;
    }
  }

  a {
    text-decoration: none;
    color: $codGray;
  }

  &.variant__cta,
  &.variant__footer {
    color: $codGray;
    .button-contents {
      background: transparent;
      @include font_Bold;
      font-size: $fontSize_Regular;
      text-transform: uppercase;
      letter-spacing: $letterSpacing_Medium;
      line-height: $leading_Tiny;
    }
  }

  &.variant__cta {
    background-color: #f8f8ff;
    padding: 0.625rem 0.5rem;
    border-radius: 2px;
  }
}
