.button {
  cursor: pointer;
  width: fit-content;

  &[disabled] {
    cursor: default;
  }

  button {
    border: none;
    width: 100%;
    display: flex;
  }

  a {
    text-decoration: none;
    color: $codGray;
  }

  .button-contents {
    display: flex;
    align-items: center;
  }

  &.variant__cta,
  &.variant__footer {
    color: $codGray;
    .button-contents {
      @include font_Secondary;
      @include fontSize_Book;
      line-height: leading(30, 25);
      background: transparent;
      color: $codGray;
    }
  }

  &.variant__cta {
    padding: 0.9375rem 2.8125rem;
    background: transparent linear-gradient(180deg, #DEE5F4 0%, #EAEFF8 67%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 28px #9AACD3;
    border-radius: 1.375rem;
    opacity: 1;
    .button-contents {
      @include fontWeight_Bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

    &.variant__footer {
      .button-contents {
        @include fontWeight_Regular;
        letter-spacing: 0.24px;
      }
    }
}
