// //////////////////////////////////////////////////////////// General & Themes
.textBlock {
  position: relative;
}

// ///////////////////////////////////////////////////////////////////// Formats


// ///////////////////////////////////////////////////////////////////// Content

.label {
  margin-bottom: 1.25rem;
}

.heading,
.description {
  margin-bottom: 1.25rem;
  p {
    margin-bottom: 1.25rem;
  }
  a {
    border-bottom: 0.03125rem solid;
    padding-bottom: 0.1875rem;
    transition: all 0.3s ease;
  }
}

.subheading {
  margin-bottom: 0.5rem;
}

.description {
  a {
    &:hover {
    }
  }
}
