// //////////////////////////////////////////////////////////// General & Themes
.text-block {
  position: relative;
  color: $codGray;
  z-index: 2;
  &.theme__light {
    color: $white;
  }
  &.format__header {
    .heading {
      @include typography_h1;
    }
  }
  &.format__medium {
    .heading {
      @include typography_h2;
    }
    .description {
      @include typography_p2;
    }
  }
}

// ///////////////////////////////////////////////////////////////////// Formats


// ///////////////////////////////////////////////////////////////////// Content

.label,
.heading,
.subheading,
.description {
  text-align: center;
}

.label {
  margin-bottom: 1.25rem;
}

.heading,
.description {
  margin-bottom: 1.25rem;
  p {
    margin-bottom: 1.25rem;
  }
  a {
    border-bottom: 0.03125rem solid;
    padding-bottom: 0.1875rem;
    transition: all 0.3s ease;
  }
}

.subheading {
  margin-bottom: 0.5rem;
  @include typography_h4;
}

.description {
  a {
    &:hover {
    }
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
