#site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigationHeight;
  z-index: 5;
}

.header-content,
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-content {
  padding-top: 1.5rem;
  justify-content: flex-end;
}

.site-logo-button {
  .button-contents {
    @include font_Secondary;
    @include fontWeight_Regular;
    padding: 0.3125rem 0.75rem;
    background: transparent;
    color: $white;
  }
}

.nav-item {
  display: flex;
  padding: 0 0.75rem;
  margin: 0 1.125rem;
  &:after {
    width: 100% !important;
    left: 0 !important;
    bottom: -0.625rem !important;
  }
  .button-contents {
    @include font_Secondary;
    @include fontSize_Regular;
    @include fontWeight_Bold;
    line-height: leading(29, 18);
    letter-spacing: 0.24px;
    position: relative;
    padding: 0.618rem 0;
    margin: auto;
    background: transparent;
    color: $nebula;
    @include small {
      font-size: 1rem;
    }
  }
}
