#site-footer {
  position: relative;
  height: toRem(960);
  margin: auto 0;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .text-block {
    .label {
      margin-bottom: 0;
      span {
        font-size: 2rem;
        line-height: leading(37, 31);
        letter-spacing: 20px;
      }
      img {
        transform: scale(1.2) translate(2px, -3px);
        margin-right: 0.5rem;
      }
    }
  }
}

.footer-content {
  padding-top: toRem(198);
}

.links-wrapper {
  position: relative;
  z-index: 1;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-link {
  width: 50%;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-bottom: 2.25rem;
  &:last-child,
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.pl-logo {
  margin: 0 0.75rem;
    @include tiny {
      margin: 0 0.5rem 0 0;
    }
}
