#site-footer {
  position: relative;
  height: toRem(960);
  margin: auto 0;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: left top;
  @include small {
    height: auto;
    padding-bottom: 20rem;
  }
  @include mini {
    background-size: 1020px;
    background-position: 25% top;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .image-block {
    @include small {
      display: none;
    }
  }
  .text-block {
    @include small {
      margin-bottom: 1.5rem;
    }
    .label {
      margin-bottom: 0;
      @include small {
        transform: none;
        .label-contents {
          justify-content: flex-start;
        }
      }
      span {
        font-size: 2rem;
        line-height: leading(37, 31);
        letter-spacing: 20px;
        @include small {
          @include fontSize_Book;
        }
        @include tiny {
          @include fontSize_Regular;
        }
      }
      img {
        transform: scale(1.2) translate(2px, -3px);
        margin-right: 0.5rem;
        @include small {
          transform: scale(0.8) translate(0.125rem, -0.125rem);
        }
      }
    }
  }
}

.footer-content {
  padding-top: toRem(198);
  @include small {
    padding-top: 7rem;
  }
  @include mini {
    padding-top: 5rem;
  }
}

.links-wrapper {
  position: relative;
  z-index: 1;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-link {
  width: 50%;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-bottom: 2.25rem;
  @include small {
    margin-bottom: 1.5rem;
  }
  @include tiny {
    margin-bottom: 1rem;
  }
  &:last-child,
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.pl-logo {
  margin: 0 0.75rem;
    @include tiny {
      margin: 0 0.5rem 0 0;
    }
}
