@use 'sass:math';

// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------

.site-container,
.page-index,
.sectional {
  position: relative;
}

.sectional {
  padding: 6.25rem 0;
}

#hero-header {
  padding-top: $navigationHeight;
  padding-bottom: 51rem;
  z-index: 1;
  .label,
  .heading,
  .subheading,
  .description {
    text-align: center;
  }
  .subheading {
    margin-bottom: toRem(50);
  }
  .image-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .button.variant__cta {
    background-color: $black;
    .button-detail {
      path {
        fill: $black;
      }
    }
  }
}

#section-overview {
  margin-bottom: 2rem;
  .text-block {
    .subheading,
    .description {
      text-align: center;
    } 
  }
}

#intro-1 {
  padding-bottom: 8.75rem;
  z-index: 2;
  [class~='col'],
  [class*='col-'],
  [class*='col_'] {
    padding: 0 0.5rem 6rem;
  }
  .text-block {
    svg {
      margin-bottom: toRem(56);
    }
    @include small {
      display: flex;
      align-items: center;
      .description,
      svg,
      p {
        margin-bottom: 0;
      }
      svg {
        min-width: toRem(80);
        margin-right: 2rem;
      }
    }
  }
}

#section-info {
  position: relative;
  padding: 4.5rem 0;
  margin-bottom: 10rem;
  .before-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-4.5rem);
    .border-element-before,
    .border-element-after {
      position: absolute;
      left: calc(50vw - #{math.div($containerWidth, 2)});
      border: solid 3px $nebula;
      border-radius: 1.875rem;
    }
    .border-element-before {
      top: 0;
      height: 33%;
      width: calc($containerWidth - 1.125rem);
      transform: translateX(1.125rem);
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      @include large {
        width: calc(100vw - 4.1665vw - 1.125rem);
        left: 2.08325vw;
      }
    }
    .border-element-after {
      bottom: 0;
      height: 67%;
      width: $containerWidth;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      @include large {
        width: calc(100vw - 4.1665vw);
        left: calc(2.08325vw);
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -3px;
        width: 22px;
        height: 60px;
      }
      &:before {
        background-color: $black;
      }
      &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1336' height='917' viewBox='0 0 1336 917' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M 1.5 61 L 1.5 59 V 55.785 C 1.8676 51.237 2.956 46.755 5.0419 42.714 L 15 18 C 18 12 19 8 19 3 V 0' stroke='%23D0DFDC' stroke-width='3'/%3e%3c/svg%3e");
        background-repeat: none;
      }
    }
  }
  .image-block {
    margin-left: -2rem;
    margin-right: 2rem;
    @include small {
      margin: 0 2rem;
      margin-bottom: 2rem;
    }
    @include mini {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .column-content[data-block-id="block-1"] {
    .text-block {
      .heading {
        margin-bottom: 0.875rem;
      }
      .subheading {
        margin-bottom: 4.8125rem;
      }
    }
  }
  .column-content[data-block-id="block-3"] {
    .text-block {
      margin-right: -3.5rem;
      @include small {
        margin-left: 1rem;
        margin-right: 0;
      }
      .description {
        ul {
          margin: 0;
          padding-left: 0.75rem;
          list-style-type: none;
        }
        li {
          position: relative;
          margin-bottom: 1rem;
          &:before {
            content: '•';
            position: absolute;
            left: -1.25rem;
            top: 0;
          }
        }
      }
    }
  }
}

#section-timeline {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background-stars.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-size: 1797px 1086px;
  }
  .image-block {
    left: unset !important;
    right: 50vw;
    @include tiny {
      right: 25vw;
    }
    &:before,
    &:after {
      display: none;
    }
    span {
      margin-right: 0 !important;
      margin-left: auto !important;
      @include large {
        left: -100px !important;
      }
      @include medium {
        left: -200px !important;
      }
      @include small {
        left: -350px !important;
      }
      @include tiny {
        left: -400px !important;
      }
    }
  }
  .timeline-block {
    position: relative;
    z-index: 1;
    .heading {
      margin-bottom: toRem(144);
    }
  }
}

#section-resources {
  padding-top: 10.75rem;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background-stars.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-size: 1797px 1086px;
  }
  .text-block {
    .cta.variant__cta-solid {
      .button-contents {
        @include fontSize_Medium;
        @include small {
          @include fontSize_Book;
        }
      }
    }
  }
}
