@use 'sass:math';

// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------

.site-container,
.page-index,
.sectional {
  position: relative;
}

.sectional {
  padding: 6.25rem 0;
}

#hero-header {
  padding-top: calc(12rem + #{$navigationHeight});
  padding-bottom: 14rem;
  .heading {
    margin-bottom: 2rem;
  }
  .label,
  .heading,
  .subheading,
  .description {
    text-align: center;
  }
}

#intro-1 {
  background-color: $ebony;
  .text-block {
    margin-top: 1.75rem;
    padding: 0 1rem;
  }
}
