@use 'sass:math';

// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------
.page-index,
.sectional {
  position: relative;
}

.sectional {
  padding: 6.25rem 0;
}

#hero-header {
  padding-top: calc(12rem + #{$navigationHeight});
  padding-bottom: 14rem;
  .heading {
    margin-bottom: 2rem;
  }
}

#intro-1 {
  .text-block {
    margin-top: 1.75rem;
    padding: 0 1rem;
  }
}

#intro-2 {
  padding: 22.8125rem 0;
  .text-block {
    .description {
      line-height: 2;
    }
  }
  .image-block {
    img {
      min-width: 2424px !important;
      @include customMaxMQ(2424px) {
        transform: translate(calc((100vw - 2424px) / 2), 0rem);
      }
    }
  }
}
