@import 'variables';
@import 'typography';
@import 'grid/gridlex-2.7.1';

// Components
@import '../components/textblock/textblock.scss';
@import '../components/imageblock/imageblock.scss';
@import '../components/button/button.scss';

// Pages
@import '../pages/index.scss';

// /////////////////////////////////////////////////////////////////////// Fonts
// -------------------------------------------------------------------------- //
$fontAssetPath: '../assets/fonts';

@font-face {
  font-family: 'futura-pt';
  src: url('#{$fontAssetPath}/FuturaPT/FuturaPTLight.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'futura-pt';
  src: url('#{$fontAssetPath}/FuturaPT/FuturaPTMedium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'futura-pt';
  src: url('#{$fontAssetPath}/FuturaPT/FuturaPTBold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// ///////////////////////////////////////////////////////////////////// General
// -------------------------------------------------------------------------- //
html,
body {
  font-family: 'futura-pt', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #222;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

[class~='grid'],
[class*='grid-'],
[class*='grid_'] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*='-noGutter'] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~='grid'],
  [class*='grid-'],
  [class*='grid_'] {
    width: 100%;
    padding: 0;
  }
}
