@import 'normalize';
@import 'variables';
@import 'typography';
@import 'grid/gridlex-2.7.1';

// Components
@import '../components/navigation/navigation.scss';
@import '../components/imageblock/imageblock.scss';
@import '../components/textblock/textblock.scss';
@import '../components/button/button.scss';
@import '../components/footer/footer.scss';

// Pages
@import '../pages/index.scss';

// /////////////////////////////////////////////////////////////////////// Fonts
// -------------------------------------------------------------------------- //
$fontAssetPath: '../assets/fonts';

// ----------------------------------------------------------------------- Aller
@font-face {
  font-family: 'Aller';
  src: url('#{$fontAssetPath}/Aller/Aller.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aller';
  src: url('#{$fontAssetPath}/Aller/Aller-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ------------------------------------------------------------ Tiempos Headline
@font-face {
  font-family: 'Tiempos';
  src: url('#{$fontAssetPath}/Tiempos/TiemposHeadline-Fine.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos';
  src: url('#{$fontAssetPath}/Tiempos/TiemposHeadline-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos';
  src: url('#{$fontAssetPath}/Tiempos/TiemposHeadline-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ///////////////////////////////////////////////////////////////////// General
// -------------------------------------------------------------------------- //

html,
body {
  font-family: 'Tiempos', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #222;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

[class~='grid'],
[class*='grid-'],
[class*='grid_'] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*='-noGutter'] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~='grid'],
  [class*='grid-'],
  [class*='grid_'] {
    width: 100%;
    padding: 0;
  }
}
