@import 'normalize';
@import 'variables';
@import 'typography';
@import 'grid/gridlex-2.7.1';

// Components
@import '../components/navigation/navigation.scss';
@import '../components/textblock/textblock.scss';
@import '../components/imageblock/imageblock.scss';
@import '../components/button/button.scss';
@import '../components/footer/footer.scss';

// Pages
@import '../pages/index.scss';

// /////////////////////////////////////////////////////////////////////// Fonts
// -------------------------------------------------------------------------- //
$fontAssetPath: '../assets/fonts';

@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Book'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicBook.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Light'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicLight.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Medium'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicMedium.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Demi'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicDemi.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Heavy'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicHeavy.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Bold'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicBold.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Extra Bold'), url('#{$fontAssetPath}/FuturaPT/FuturaCyrillicExtraBold.woff') format('woff');
}

// ///////////////////////////////////////////////////////////////////// General
// -------------------------------------------------------------------------- //
html,
body {
  font-family: 'Futura PT Book', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #222;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

[class~='grid'],
[class*='grid-'],
[class*='grid_'] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*='-noGutter'] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~='grid'],
  [class*='grid-'],
  [class*='grid_'] {
    width: 100%;
    padding: 0;
  }
}
