// ---------------------------------------------------------------------- Sizing
// fontSize_Atom | 11pt
// fontSize_Tiny | 13pt
// fontSize_Mini | 15pt
// fontSize_Small | 16pt
// fontSize_Regular | 18pt
// fontSize_Medium | 20pt
// fontSize_MediumLarge | 25pt
// fontSize_MediumExtraLarge |30pt
// fontSize_Large | 35pt
// fontSize_ExtraLarge | 45pt
// fontSize_Huge | 67pt

$fontSize_Atom: 0.6875rem;
$fontSize_Tiny: 0.8125rem;
$fontSize_Mini: 0.9375rem;
$fontSize_Small: 1rem;
$fontSize_Regular: 1.125rem;
$fontSize_Medium: 1.25rem;
$fontSize_MediumLarge: 1.5625rem;
$fontSize_MediumExtraLarge: 1.875rem;
$fontSize_Large: 2.1875rem;
$fontSize_ExtraLarge: 2.8125rem;
$fontSize_Huge: 6.875rem;

// ---------------------------------------------------------------------- Weight
$fontWeight_Light: 300;
$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_Semibold: 600;
$fontWeight_Bold: 700;

// --------------------------------------------------------------------- Leading
// leading_Small | 23pt
// leading_Regular | 35pt
// leading_Medium | 40pt
// leading_Large | 50pt
// leading_MediumLarge | 60pt
// leading_ExtraLarge | 70pt
// leading_Huge | 80pt
// leading_Massive | 103pt

$leading_Tiny: 1;
$leading_Small: 1.4375rem;
$leading_Regular: 35px;
$leading_Medium: 2.5rem;
$leading_MediumLarge: 3.125rem;
$leading_Large: 3.75rem;
$leading_ExtraLarge: 4.375rem;
$leading_Huge: 5rem;
$leading_Massive: 6.4375rem;

@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

// -------------------------------------------------------------- Letter Spacing
$letterSpacing_None: 0;
$letterSpacing_Regular: 0.02em;
$letterSpacing_Large: 0.03em;

// ////////////////////////////////////////////////////////////////////// Mixins
// =============================================================================
@mixin typography_h1 {
  font-size: $fontSize_Huge;
  font-weight: $fontWeight_Bold;
  letter-spacing: $letterSpacing_None;
  line-height: $leading_Tiny;
}
