// ---------------------------------------------------------------------- Sizing

// fontSize_Tiny | 13pt
// fontSize_Regular | 16pt
// fontSize_Large | 36pt
// fontSize_Huge | 110pt

$fontSize_Tiny: 0.8125rem;
$fontSize_Regular: 1rem;
$fontSize_Large: 2.25rem;
$fontSize_Huge: 6.875rem;

// ---------------------------------------------------------------------- Weight
$fontWeight_Light: 'Futura PT Light';
$fontWeight_Regular: 'Futura PT Book';
$fontWeight_Medium: 'Futura PT Medium';
$fontWeight_Semibold: 'Futura PT Demi';
$fontWeight_Bold: 'Futura PT Bold';

// --------------------------------------------------------------------- Leading
$leading_Tiny: 1;
$leading_Small: 1.2;
$leading_Medium: 1.5;
$leading_MediumLarge: 1.6;

@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

// -------------------------------------------------------------- Letter Spacing
$letterSpacing_None: 0;
$letterSpacing_Regular: 0.06em;
$letterSpacing_Medium: 0.1em;
$letterSpacing_Large: 0.17em;

// ////////////////////////////////////////////////////////////////////// Mixins
// =============================================================================
// ---------------------------------------------------- Typography | Font Weight
@mixin font_Light {
  font-family: $fontWeight_Light;
}
@mixin font_Regular {
  font-family: $fontWeight_Regular;
}
@mixin font_Medium {
  font-family: $fontWeight_Medium;
}
@mixin font_Semibold {
  font-family: $fontWeight_Semibold;
}
@mixin font_Bold {
  font-family: $fontWeight_Bold;
}

@mixin typography_h1 {
  @include font_Bold;
  font-size: $fontSize_Huge;
  letter-spacing: $letterSpacing_None;
  line-height: $leading_Tiny;
}

@mixin typography_h2 {
  @include font_Bold;
  font-size: $fontSize_Large;
  letter-spacing: $letterSpacing_Regular;
  line-height: $leading_MediumLarge;
}

@mixin typography_p2 {
  @include font_Bold;
  font-size: $fontSize_Regular;
  letter-spacing: $letterSpacing_Large;
  line-height: $leading_Small;
}
