@use 'sass:math';

$font_Primary: 'Hoverunit';
$font_Secondary: 'Univers';
$font_Tertiary: 'Perfectly Nineties';
// ---------------------------------------------------------------------- Sizing

// fontSize_Tiny | 13pt
// fontSize_Regular | 18pt
// fontSize_Book | 24pt
// fontSize_Medium | 45pt
// fontSize_Large | 85pt
// fontSize_Huge | 160pt

$fontSize_Tiny: 0.8125rem;
$fontSize_Regular: 1.125rem;
$fontSize_Book: 1.5rem;
$fontSize_Medium: min(2.8125rem, 3.125vw);
$fontSize_Large: min(5.3125rem, 5.9vw);
$fontSize_Huge: min(10rem, 11.1vw);

// ------------------------------------------------------------------- Functions
@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

// ////////////////////////////////////////////////////////////////////// Mixins
// =============================================================================
// ---------------------------------------------------- Typography | Font Family
@mixin font_Primary { font-family: $font_Primary; }
@mixin font_Secondary { font-family: $font_Secondary; }
@mixin font_Tertiary { font-family: $font_Tertiary; }

// ------------------------------------------------------ Typography | Font Size
@mixin fontSize_Tiny { font-size: $fontSize_Tiny; }
@mixin fontSize_Regular { font-size: $fontSize_Regular; }
@mixin fontSize_Book { font-size: $fontSize_Book; }
@mixin fontSize_Medium { font-size: $fontSize_Medium; }
@mixin fontSize_Large { font-size: $fontSize_Large; }
@mixin fontSize_Huge { font-size: $fontSize_Huge; }

// ---------------------------------------------------- Typography | Font Weight
@mixin fontWeight_Light { font-weight: 300; }
@mixin fontWeight_Regular { font-weight: 400; }
@mixin fontWeight_Medium { font-weight: 500; }
@mixin fontWeight_Semibold { font-weight: 600; }
@mixin fontWeight_Bold { font-weight: 700; }

// ----------------------------------------------------- Typography | Categories
@mixin typography_h1 {
  @include font_Primary;
  @include fontWeight_Regular;
  @include fontSize_Huge;
  line-height: leading(160, 160);
  color: $linkWater;
  filter: drop-shadow(-22px -16px 16px $tarawera);
}

@mixin typography_h2 {
  @include font_Primary;
  @include fontWeight_Regular;
  @include fontSize_Large;
  line-height: leading(105, 85);
}

@mixin typography_h3 {
  @include font_Primary;
  @include fontWeight_Regular;
  @include fontSize_Medium;
  line-height: leading(53, 45);
}

@mixin typography_h4 {
  @include font_Tertiary;
  @include fontWeight_Regular;
  @include fontSize_Medium;
  letter-spacing: 0.44px;
  line-height: leading(53, 45);
}

@mixin typography_p1 {
  @include font_Secondary;
  @include fontWeight_Regular;
  @include fontSize_Book;
  letter-spacing: 0.24px;
  line-height: leading(45, 24);
}

@mixin typography_p2 {
  @include font_Secondary;
  @include fontWeight_Regular;
  @include fontSize_Regular;
  letter-spacing: 0.24px;
  line-height: leading(36, 18);
}
